/* ----------------------------------------This is navigation section -------------------- */
 body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial sans-serif;
    background-color:rgb(15, 15, 39);
} 
.logo {
    float: left;
    margin-right: 10px;
  }
  .logo img {
    width: 5vh; 
    height: 5vh; 
  }
  @media only screen and (max-width: 768px) {
    .logo {
      width: 100%; 
      margin: 0 auto;
    }
  }
  
  
  
.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    padding: 1vh 0;
    margin: 0;
}

.nav-bar ul {
    background-color: #008CBA;
    padding: 1vh 0;
    margin: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-bar ul li {
    display: flex;
    float: left;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
}

.nav-bar ul li a {
    font-family: Arial sans-serif;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    padding: 1vh;
    border-radius: 5px;
    display: block;
}

.nav-bar ul li a:hover {
    font-weight: bold;
    background-color: gray;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 768px) {

    .nav-bar ul {
        flex-direction: column;
        position:static;
        font-size: 1.5rem;
        margin-bottom: 5vh;
    }

    .nav-bar ul li {
        width: 100%;
        text-align: center;
        padding: 1vh 0;
    }

    .nav-bar ul li a {
        display: block;
        width: 100%;
        font-size:1.5rem;
        box-sizing: border-box;
    }
}


/* ------------------This is home section----------------------*/
.home {
    display: flex;
    flex-direction: column;
    background-color: #23c1f5;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5vh 2vw;
    margin: 10vh auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width:80%;
}

.home-item {
    max-width:80%;
    margin: 10vh auto;
}

p {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 5vh;
}

h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10vh;
}

/* Add responsive styles for smaller screens */
@media only screen and (max-width: 768px) {
    .home {
         margin-top:5vh;
    }
    p, h3 {
        font-size: 1.5rem;
       
    }
    
}
/*----------------------------This is a Batsmen Ranking section style --------------------------*/

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.icc-rankings {
    background-color: #41c7f4;
    width: 100%;
    padding: 2vh;
    border-radius: 5px;
  }


  .icc-rankings > h1{
    color:rgba(255, 255, 255, 0.926);
    text-align: center;
  }

.icc-ranking-container{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 2vh auto;
    padding: 2vh 2vw;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#batsmen-ranking-button,#bowler-ranking-button{
    display: flex;
    justify-content: center;
    font-size:1.5rem;
    font-weight: bold;
    color: #333;
    width:80%;
    margin: 5vh auto;
    padding: 2vh 2vw;
    background-color: #f9f9f9;
    border:none;
    border-radius:10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.batsman-card {
    border-bottom: 10px solid #e1e1e1;
    background-color: #f9f9f9;
    padding: 2vh 2vh;
    margin-bottom: 2vh;
    gap: 2vh;
    transition: background-color 0.3s;
}

.batsman-card:last-child {
    border-bottom: none;
}

.batsman-card:hover {
    background-color: #f2f2f2;
}

.batsman-name {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2vh;
}

.batsman-details {
    font-size: 1rem;
    color: #555;
}

.batsman-details span {
    display: block;
    margin-bottom: 2vh;
}


.bowler-card {
    border-bottom: 10px solid #e1e1e1;
    padding: 2vh 2vh;
    margin-bottom: 2vh;
    background-color:white;

    gap: 2vh;
    transition: background-color 0.3s;
}

.bowler-card:last-child {
    border-bottom: none;
}

.bowler-card:hover {
    background-color: #f2f2f2;
}

.bowler-name {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2vh;
}

.bowler-details {
    font-size: 1rem;
    color: #555;
}

.bowler-details span {
    display: block;
    margin-bottom: 2vh;
}

/* styles for smaller screens */
@media screen and (max-width: 768px) {
    #bowlerRankings {
        padding: 2vh 2vw;
    }

    .bowler-card {
        padding: 2vh 2vw;
    }

    .bowler-name {
        font-size: 1.5rem;
        margin-bottom: 1vh;
    }

    .bowler-details {
        font-size: 1rem;
    }
}

/*-----------------News Section---------------*/


.news {
    max-width:80%;
    margin: 1vh auto;
    padding:1vh 1vh;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news h2 {
    color: #333;
    margin-top: 0;
    text-align: center;
    margin-bottom:2vh;
}

.news-items {
    margin-top:2vh;
}

#news-item1,
#news-item2 {
    margin-bottom:2vh;
}

#news-item1 a,
#news-item2 a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

#news-item1 p,
#news-item2 p {
    color: #555;
}

/* ------------------Video Section----------------- */
.video {
    max-width: 80%;
    margin: 4vh auto;
    padding: 2vh;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video h2 {
    color: #333;
    margin-top: 0;
    text-align: center;
    margin-bottom:2vh;
}

.video-items {
    margin-top:2vh;
}

#video-item1,
#video-item2 {
    margin-bottom:5vh;
    text-align: center;
}

#video-item1 h3,
#video-item2 h3 {
    color: #007BFF;
}

/*-------------------This is Styles for small screen ---------------------- */
@media screen and (max-width: 768px) {
    .news,
    .video {
        padding:5vh;
        
    }

    #news-item1,
    #news-item2,
    #video-item1,
    #video-item2 {
        margin-bottom:5vh;
        text-align: center;
    
    }
    iframe{
        width:100%;
    }
}



/*------------------This is Sponsor Section----------------- */
.sponsor-logo {
    width: 100%;
    margin: 40px 0;
    text-align: center;
  }
  
  .sponsor-logo h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: white;
  }
  
  .sponsor-item {
    display: inline-block;
    margin: 5vh;
    vertical-align: top;
  }
  
  .sponsor-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  }
  

  .sponsor-image:hover {
    transform: scale(1.1);
  }
  
  
  
  